<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Microservices example</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <p class="text-center" th:text="'Get item using RestTemplate: ' + ${requestWithRestTemplate}"></p>
    <p class="text-center" th:text="'Get item using WebClient: ' + ${requestWithWebClient}"></p>
    <p class="text-center" th:text="'Get item using FeignClient: ' + ${requestWithFeignClient}"></p>
</div>
</body>
</html>