<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Microservices sample</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-link btn-logout" style="float: right" type="submit">Logout</button>
    </form>
    <h4 class="text-center" style="color:blue" th:text="${greeting}">Some greeting</h4>
</div>
</body>
</html>